<div class="container mt-5 ">
     <img class="logo" src="<%=userinfo.image %>" alt=""> &nbsp; <%= userinfo.firstName %> <%= userinfo.lastName %> (<%= userinfo.email %>)
     <br/><br/><br/>
     <label>API Key: </label><pre><%=userinfo.apiKey %></pre>
</div>

